<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faktury</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <img src="http://bosfundacja.pl/wp-content/uploads/2015/11/logo.png"/>
  <hr/>
  <form method="POST" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}
	{{ form.as_p }}
  	<button type="submit" class="btn btn-info">Zapisz</button>
  </form>
</div>

</body>
</html>