<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faktury</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <img src="http://bosfundacja.pl/wp-content/uploads/2015/11/logo.png"/>
  <br/>
  <br/>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}"><button class="btn btn-success">Wyloguj</button></a>
  {% endif %}
  <hr/>
  {% if user.is_authenticated %}
  <div class="table-responsive">
  <table class="table">
    <thead>
	
	<tr>
        	<th>Nazwa</th>
		<th>Wartość</th>
		<th>Działania</th>
		<th>Plik</th>
        </tr>

    </thead>
    <tbody>
  
    		{% for invoice in invoices %}
		
		{% if invoice.paid == True %}	
		<tr style="background-color: #b3ffb3">
		{% else %}
		<tr style="background-color: #ffb3b3">
		{% endif %}
		
			<td>{{ invoice.title }}</td>
			<td>{{ invoice.value }}</td>
			<td>
				{% if invoice.paid == False %}
					<a href="{% url 'invoices_set_paid' pk=invoice.pk %}"><button class="btn btn-success">Opłać</button></a>
				{% endif %}
				<a href="{% url 'invoices_delete' pk=invoice.pk %}"><button class="btn btn-warning">Usuń</button></a>
			</td>
			<td><a href="{{ invoice.invoice_file }}"><button class="btn btn-default">Podgląd</button></a></td>
		</tr>		
		{% endfor %}
  
    </tbody>
  </table>
  </div>
  <hr/>
  <a href="nowa"><button class="btn btn-info">Dodaj fakturę</button></a>&nbsp;

  {% else %}
  	
	<div class="well">
	<h3>Musisz być zalogowany, aby mieć dostęp do faktur</h3>
	<a href="{% url 'login' %}"><button class="btn btn-info">Zaloguj się</button></a>
	</div>
  
  {% endif %}

</div>

</body>
</html>
