<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faktury</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Zaloguj się</h1>
  <div class="well">
  	<form method="POST">{% csrf_token %}
		{{ form.as_p }}
	<button type="submit" class="btn btn-default">Zaloguj</button>
	</form>
  </div>
</div>

</body>
</html>